<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>404. Страница не найдена</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link type="text/css" rel="stylesheet" href="/src/views/stylesheet/app.css">
</head>
<body>

	<script type="application/javascript" charset="utf-8" src="/src/views/javascript/app.js"></script>
	<div class="app-404">
		<div class="app-404__svg-player"></div>
		<div class="app-404__information">
			<p>Страница не найдена</p>
			<p><a href="/">Вернуться на главную</a></p>
		</div>
		<noscript></noscript>
	</div>
</body></html>